h1, h2, h3, h4, h5, h6, a, p, input, textarea, span {
    font-family: "sans-serif";
}

*, *::before, *::after {
    box-sizing: resize-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

a {
    -webkit-tap-highlight-color: transparent;
}

.container {
    padding-block: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.back {
    height: 1.5rem;
    width: .8rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
        background-color: black;
        height: 100%;
        aspect-ratio: 1;
        opacity: 0;
        transition: .2s;
        border-radius: 100%;
        scale: 1.5;
        translate: -20% 0;
    }

    &:active > div {
        opacity: .3;
    }

    &::before {
        top: 30%;
        left: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 15%;
        background-color: black;
        rotate: -28deg;
        border-radius: 25%;
    }

    &::after {
        bottom: 30%;
        left: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 15%;
        background-color: black;
        rotate: 28deg;
        border-radius: 25%;
    }
}

header {
    padding-inline: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    
    > .title {
        font-size: 1.25em;
    }
}

.list-item {
    display: flex;
    gap: 1rem;
    align-items: center;

    .list-item-info {
        display: flex;
        gap: .2rem;
        flex-grow: 1;
        flex-direction: column;
    }

    .list-item-title {
        color: white;
    }

    .list-item-description {
        margin-top: .2rem;
        font-size: .85em;
        color: #ccc;
    }

    .list-item-toggle {
        display: block;
        width: 3.5rem;
        height: 1.6rem;
        transition: .15s;
        position: relative;
        border-radius: 1.5rem;

        &::after {
            display: block;
            content: "";
            position: absolute;
            width: 1.3rem;
            aspect-ratio: 1;
            border-radius: 1.5rem;
            top: .15rem;
            transition: .15s;
        }

        &.list-item-toggle-active {
            background-color: #eee;

            &::after {
                background-color: #222;
                left: 2rem;
            }
        }

        &.list-item-toggle-inactive {
            background-color: #222;
            outline: solid white 1.5px;

            &::after {
                background-color: #eee;
                left: .25rem;
            }
        }
    }
}

.sections > div {
    padding-block: 1.2rem;
    padding-inline: 2.5rem;
    position: relative;
    transition: .1s;
    
    &:active {
        background-color: rgba(0, 0, 0, .2);
        opacity: .7;
    }
    
    &:not(:last-child)::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #111;
        opacity: .2;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@media (prefers-color-scheme: dark) {
    .back {
        > div { background-color: white }
        &::before { background-color: white }
        &::after { background-color: white }
    }

    .sections > div:not(:last-child)::after {
        background-color: rgba(175, 175, 175, .35);
    }
}